.aboutus-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.aboutus-image {
  width: 100%;
  max-width: 500px;
  @media only screen and (max-width: 800px) {
    max-width: 95vw;
  }
}

.aboutus-content {
  max-width: 400px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  flex: 1;
  padding: 1rem;
  @media only screen and (max-width: 800px) {
    max-width: 95vw;
    margin-bottom: 2rem;
  }

  h2 {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 0;
    border-bottom: 4px solid black;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    font-weight: 400;
  }
}
