.aboutus-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.aboutus-image {
    width: 100%;
    max-width: 500px;
    flex: 1;
}

.aboutus-content {
    
    max-width: 400px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    flex:1;

    h2{
        display: inline-block;
        font-size: 2rem;
        font-weight: 700;
        padding: 1rem 0;
        border-bottom: 4px solid black;
        margin-bottom: 1rem;
        
    }

    p {
        font-size: 1.2rem;
        font-weight: 400;
        
    }
}
