.recommendation-container {
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.recommendation-wrapper {
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }

  h1 {
    align-self: flex-start;
    margin-bottom: 2rem;
    font-size: 3rem;
    margin-left: 1rem;
  }
}

.form-wrapper {
  position: relative;
  align-self: flex-end;
  margin-right: 1rem;
  @media only screen and (max-width: 600px) {
    align-self: center;
    padding: 1rem;
  }

  input {
    padding: 0.4rem;
    border-radius: 5px;
    width: auto;
    @media only screen and (max-width: 600px) {
      width: 60vw;
    }
    
  }

  select {
    padding: 0.4rem;
    border-radius: 5px;
    width: auto;
    @media only screen and (max-width: 600px) {
      width: 60vw;
    }
    
  }
}

.search-icon {
  position: absolute;
  right: 8px;
  top: 8px;
  @media only screen and (max-width: 600px) {
    right: 25px;
  top: 25px;
  
  }

}

.meal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 3rem;
  align-content: center;
  gap: 1rem;

  &__list {
    display: flex;
  }
}
