.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
   
    h2 {
        
        display: inline-block;
        font-size: 2rem;
        font-weight: 700;
        padding: 1rem 0;
        border-bottom: 4px solid black;
        margin-bottom: 1rem;
    }
}

.contact-form {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  margin: 0 auto;

  input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
  }

  input[type=textarea] {
      height: 200px;
  }
}
