.header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem 0;
  justify-content: space-between;
}

.header-image {
  width: 100%;
  max-width: 400px;
  
}

.header-content {
  max-width: 400px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  flex: 1;
  
  padding: 1rem;

  h1 {
    font-size: 3rem;
    font-weight: 900;
  }

  p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }
}

.btn-category {
  background: var(--light);
  color: white;
  padding: 15px 30px;
  border: none;
  outline: none;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;

  &:hover {
    background: var(--dark);
  }
}
