.header-wrapper {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  justify-content: space-between;
    @media only screen and (max-width: 800px){
      flex-direction: column;
    }
}

.header-image {
  width: 100%;
  max-width: 400px;
  @media only screen and (max-width: 800px){
    max-width: 95vw;
    order: 1;
  }
  
}

.header-content {
  max-width: 400px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  flex: 1;
  padding: 1rem;
  @media only screen and (max-width: 800px){
    max-width: 95vw;
    order: 2;
  }

  h1 {
    font-size: 3rem;
    font-weight: 900;
  }

  p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }
}

.btn-category {
  position: relative;
  background: var(--light);
  color: white;
  padding: 15px 35px 15px 30px;
  border: none;
  outline: none;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;

  &:hover {
    background: var(--dark);
  }

  &__chevron {
    position: absolute;
    top: 17px;
    right: 18px;
  }
}
