.navbar {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
  padding: 0 1.5rem;
  flex: 1;

  &__searchbox {
    max-width: 420px;
    width: 100%;
    form {
      @media only screen and (max-width: 700px) {
        margin-right: 2rem;
      }
      input {
        padding: 0.4rem;
        border-radius: 5px;
        font-size: 1.2rem;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    @media only screen and (max-width: 800px) {
      width: 100%;
      justify-content: space-between;
    }
  }
}

.navbar-wrapper {
  position: relative;
  @media only screen and (max-width: 800px) {
    display: none;
  }
}

.active {
  .navbar-list {
    flex-direction: column;
    background-color: var(--light-gray);
    line-height: 3;
    padding: 2rem;
    list-style-type: none;

    &__item {
      font-size: 3rem;
    }
  }

  position: absolute;
  display: flex;
  flex-direction: column;
  top: 70px;
  right: 20px;
  z-index: 100;
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.52);
}

.navbar-list {
  display: flex;

  &__item {
    margin-left: 1rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
  }

  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: var(--light);
    }
  }
}

.navbar-form {
  position: relative;

  &__icon {
    position: absolute;
    left: 227px;
    top: 10px;
    
   
  }
}

.hamburger {
  display: none;
  @media only screen and (max-width: 800px) {
    display: block;
  }
}

.tooltip {
  position: relative;
  display: inline-block;

  .tooltip-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: var(--light-gray);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 1rem 1rem;

    box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.52);

    /* Position the tooltip */
    top: 50px;
    left: -130px;
    position: absolute;
    z-index: 1;

    &::after {
      content: " ";
      position: absolute;
      bottom: 100%; /* At the top of the tooltip */
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent var(--light-gray) transparent;
    }

    .tooltip-input {
      padding: 0.4rem;
      margin-bottom: 1rem;
      border-radius: 15px;
    }

    .tooltip-button {
      width: 150px;
      background: var(--light);
      color: white;
      padding: 5px 15px;
      border: none;
      outline: none;
      font-weight: 700;
      text-decoration: none;
      cursor: pointer;
      border-radius: 10px;
      align-self: flex-end;
    }
  }
}
